body{
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    }

#first-nav{
    border-bottom: 1px solid rgb(236, 230, 230);
    font-family: 'Gruppo', cursive;
    padding: 5px 0 5px 0;
    background-color: white;
}
#first-nav .nav-link{
    color: brown;
}
#first-nav i{
    color:black;
}
#first-nav #email:hover{
    color:#008FA7;
}
/*second navigation bar*/
#second-nav{
    border-bottom: 1px solid rgb(236, 230, 230);
    padding: 20px 0 20px 0;
    background-color: white;
}
#second-nav img{
    width:100px;
    height:90px;
}
.navbar-brand{
    padding-right: 10%;
    margin-left: 100px;
    
}
#slogan{
    width: max-content;
    float: right;
    color:#008FA7;
    padding-top: 20%;
    font-family: 'Shojumaru', cursive;
}
.dropdown-menu{
    background-color: #345F55;
}
.dropdown-menu a{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    border-bottom: 1px solid rgb(236, 230, 230);
    padding-top: 20px;
    padding-bottom: 20px;

}
#navbarNavAltMarkup .nav-link{
    margin-right: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
    display: inline-block;
    background-image: linear-gradient(to right, #345F55, #345F55);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50% 2px;
    transition: background-size .5s ease;
}

#navbarNavAltMarkup .nav-link:hover{
    color: #345F55;
    background-size: 100% 2px;
    font-weight: bold;
}

/*carousel section */
.carousel-inner > .carousel-item > img {
    height:700px;
  }
.carousel-caption{
    position: absolute;
    right: 60%;
    bottom: 400px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.carousel-caption h2{
    color: #008FA7;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
    font-weight: bold;

}
.carousel-caption p{
    font-family: 'Gruppo', cursive;
    color: black;
    font-size: large;
    font-weight: bold;

}
      
/*trainer picture section */
#trainers-section{
    width: 100%;
    background-color: white;
}
#picture-section{
    width: 70%;
    margin: 0 auto;
}
.text{
    padding: 10% 0 10% 0;
    text-align: center;
}
.text h3{
    font-family: 'Encode Sans Expanded', sans-serif;
}
.text p{
    font-family: 'Quantico', sans-serif;
}

.card img{
    height:250px;
}

.card img {
    transition: transform .5s ease;
  }
  
.card:hover img {
    transform: scale(1.5);
    opacity: 0.5;
  }
.card{
    border: none;
    padding-bottom: 10%;
}
.card .card-body{
    text-align: center;
    background-color: white;
}
.card .card-body h5{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: bold;
}
.card .card-body p{
    font-family: 'Quantico', sans-serif;
}

/*Gallery section */
#gallery{
    padding: 0;
    min-width: 100%;
}
#gallery .row img{
    height:auto;
    display: block;
    transition: .5s ease;
    display:block;
}
  
  #gallery .row .middle {
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }
  #gallery .row .col{
    position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
    max-height: 240px;
  }

  #gallery .row .text {
    color: white;
    padding: 10px 25px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
	position: absolute;
	top: 40%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  #gallery .row .col:hover {
    opacity: 1;
  }
  
  #gallery .row .middle:hover {
    opacity: 1;
  }
 

  .layer {
    background-color: rgba(121, 121, 117, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Plan section */
#plan-section{
    max-width: 70%;
    margin: 0 auto;
}
#plan-text{
    margin: 10% 0 5% 40%;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: grey;

}
#plan-section .card{
    padding: 0;
    border: 5px 1px 1px 1px;
    font-family: 'Cormorant Garamond', serif;
}
#plan-section .essential{
    border: 1px solid #345F55;
    border-top-width: thick;
    border-radius: 10px;
}
#plan-section .prefered{
    border: 1px solid orange;
    border-top-width: thick;
    border-radius: 10px;
}
#plan-section .premium{
    border: 1px solid purple;
    border-top-width: thick;
    border-radius: 10px;
}
#plan-section .card-title{
    
}
#plan-section .card-text{
    font-family: 'Poiret One', cursive;
    letter-spacing: 5px;
}
#plan-section span {
    margin-bottom: 10px;
    font-size: xx-large;
    font-weight: bolder 
}
#plan-section .first-price{
    color: #345F55;
    
}
#plan-section .second-price{
    color:orange;
    
}
#plan-section .third-price{
    color: purple;
    
}
#plan-section button{
    background-color: #008FA7;
    
}


/*special offer section */
.special-offer{
    width: 100%;
    height: 100px;
    border: 1px solid blue;
    margin-top: 7%;
}